

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
nav {
}
button {
    background-color: white;
    margin: 0 20px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
#menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
#menu li {
    padding: 0 15px;
}